body {
  font-family: “Helvetica”, sans-serif;
  font-size: 16px;
  background-color: cornsilk
  color:black;
  text-align: center;
  opacity: 0.9;
  padding: 2px;
  padding-inline-end: 2px;
  
  }
p {
    border: 2px dashed blueviolet;
    padding: 4px;
  }
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellowgreen;
  background-color: transparent;
  text-decoration: underline;
}